<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Personaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="guardarDatos()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
      <ion-note slot="error" *ngIf="campo('nombre').invalid &&
                      campo('nombre').errors &&
                      campo('nombre').errors.required &&
                      tocado('nombre')
      ">
        Este campo es requerido
      </ion-note>

      <ion-note slot="error" *ngIf="campo('nombre').invalid &&
                      campo('nombre').errors &&
                      campo('nombre').errors.maxlength &&
                      tocado('nombre')
      ">
        Excede el máximo de caracateres
      </ion-note>

      <ion-note slot="error" *ngIf="campo('nombre').invalid &&
                      campo('nombre').errors &&
                      campo('nombre').errors.minlength &&
                      tocado('nombre')
      ">
        No se cumple el mínimo de caracateres
      </ion-note>
    </ion-item>

    <ion-item>
        <ion-input [disabled]="cargandoImagen" (change)="leerArchivo($event)"type="file" formControlName="foto"></ion-input>
        <ion-note slot="error" *ngIf="campo('foto').invalid &&
                      campo('foto').errors &&
                      campo('foto').errors.required &&
                      tocado('foto')
      ">
        Este campo es requerido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Planeta</ion-label>
        <ion-input type="text" formControlName="planeta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Habilidad</ion-label>
        <ion-select formControlName="habilidad" [multiple]="true">
          <ion-select-option *ngFor=" let habilidad of habilidades"
          [value]="habilidad"
          >
            {{habilidad}}
          </ion-select-option>
        </ion-select>
        <ion-note slot="error" *ngIf="campo('habilidad').invalid &&
                      campo('habilidad').errors &&
                      campo('habilidad').errors.required &&
                      tocado('habilidad')
      ">
        Este campo es requerido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad</ion-label>
        <ion-datetime formControlName="edad" presentation="year" min="0000" max="9999"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sexualidad</ion-label>
        <ion-select formControlName="sexualidad">
          <ion-select-option *ngFor="let sexuali of sexualidad"
          [value]="sexuali"
          >
            {{sexuali}}
          </ion-select-option>
        </ion-select>
        <ion-note slot="error" *ngIf="campo('sexualidad').invalid &&
                      campo('sexualidad').errors &&
                      campo('sexualidad').errors.required &&
                      tocado('sexualidad')
      ">
        Este campo es requerido
      </ion-note>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Frase</ion-label>
        <ion-input type="text" formControlName="frase"></ion-input>
        <ion-note slot="error" *ngIf="campo('frase').invalid &&
                      campo('frase').errors &&
                      campo('frase').errors.required &&
                      tocado('frase')
      ">
        Este campo es requerido
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-button [disabled]="formulario.invalid && !cargandoImagen" type="submit"> Agregar nuevo personaje</ion-button>
    </ion-item>


  </form>
</ion-content>
